{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-body">
                        <h1 class="card-title mb-4 text-center">Reset your password</h1>
                        {{ form_start(resetForm) }}
                            <div class="mb-3">
                                {{ form_label(resetForm.plainPassword) }}
                                {{ form_widget(resetForm.plainPassword, {'attr': {'class': 'form-control', 'type': 'password', 'placeholder': 'Enter new password'}}) }}
                                {{ form_errors(resetForm.plainPassword) }}
                            </div>
                            <div class="d-grid gap-2 mt-3">
                                <button type="submit" class="btn btn-primary btn-block">Reset password</button>
                            </div>
                        {{ form_end(resetForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
